{% extends 'layout.html' %}

{% block body1 %}
<h1 class="mb-5">Stat</h1>
{% endblock body1 %}

{% block body2 %}


<div class="row">
    <!-- data 0  -->
    <div class="col-md-6">
        <h3 class="font-warna" style="display: inline">Mobil dengan horsepower terbesar</h3>
        <table class="table mb-5 mt-3 table-striped ">
            <thead>
                <tr>
                    {% for item in data[0].columns %}
                    <th scope="row">{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index,item in data[0].iterrows() %}
                <tr>
                    {% for col in item %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3 class="font-warna" style="display: inline">Mobil Paling teririt</h3>
        <table class="table mb-5 mt-3 table-striped">
            <thead>
                <tr>
                    {% for item in data[1].columns %}
                    <th scope="row">{{ item }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index,item in data[1].iterrows() %}
                <tr>
                    {% for col in item %}
                    <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- end data 0 -->
</div>
{% endblock body2 %}